/*Fonts*/

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Italic.woff2') format('woff2'),
  url('../fonts/Cuprum-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-BoldItalic.woff2') format('woff2'),
  url('../fonts/Cuprum-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Regular.woff2') format('woff2'),
  url('../fonts/Cuprum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
  url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Bold.woff2') format('woff2'),
  url('../fonts/Cuprum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
  url('../fonts/PTSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;
  --basic-dark: #000000;
  --basic-dark-rgb: 0, 0, 0;
  --basic-blue: #32425C;
  --second-blue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;

  --main-text-dark-color: var(--basic-dark);
  --main-text-dark-rgb: var(--basic-dark-rgb);
  --main-text-white-color: var(--basic-white);
  --main-text-white-rgb: var(--basic-white-rgb);
  --main-text-blue-color: var(--basic-blue);
  --main-text-red-color: var(--basic-red);

  --header-logo-color: var(--basic-red);
  --header-logo-active-color: #BA2732;
  --header-logo-shadow-color: rgba(0, 0, 0, 0.24);

  --menu-active-text-color: rgba(255, 255, 255, 0.5);

  --info-bg-color: #F1F5F7;

  --bookmarks-active-color: #161D29;

  --cart-active-color: #161D29;
  --cart-btn-contains-color: #EE3643;

  --order-btn-color: #63A63E;
  --order-btn-hover-color: #5FBB2D;
  --order-btn-active-color: var(--basic-green);
  --order-btn-shadow-color: #367315;

  --header-phone-icon-color: #B7BFC8;

  --logim-icon-color: #C5C5C5;
  --login-icon-hover-color: #3D546F;
  --login-text-active-color: #C5C5C5;

  --nav-btn-hover-color: #293449;
  --nav-btn-active-color: #1D2739;
  --nav-btn-shadow-color: #293449;

  --paint-color: #FFBF47;
  --tools-color: #3BBCE3;
  --tech-color: #DC91D8;
  --shop-color: #8ED78F;
  --delivery-color: #FFC047;

  --casper-btn-color: rgba(255, 255, 255, 0.3);
  --casper-btn-hover-color: rgba(197, 197, 197, 0.3);
  --casper-btn-active-color: rgba(169, 169, 169, 0.3);

  --main-btn-color: var(--basic-red);
  --main-btn-hover-color: #CA2C37;
  --main-btn-active-color: #BA2732;

  --reserve-slider-color: #B9A794;

  --label-color: #EE3643;

  --section-head-color: #F9F5F0;

  --items-border-color: #EAEAEA;
  --items-shadow-color: rgba(0, 0, 0, 0.15);

  --old-price-color: #A9A9A9;

  --bordered-btn-color: #63A63E;
  --bordered-btn-hover-color: #32425C;
  --bordered-btn-active-color: #32425C;

  --price-btn-color: var(--basic-red);

  --sevices-bg-color: #F1F5F7;
  --services-tab-color: var(--basic-blue);
  --services-tab-hover-color: var(--second-blue);
  --services-tab-current-color: var(--basic-white);
  --services-tab-shadow-color: var(--second-blue);
  --services-tab-shadow-second-color: #405069;

  --footer-address-color: #F3F7F9;
  --footer-links-color: #F1F5F7;
  --footer-secondary-links-color: #FFD180;

  --fieldset-bg-color: #F7F3EC;

  --social-icon-color: #212A3A;
  --social-icon-hover-color: var(--basic-red);
  --social-icon-active-color: var(--basic-red);


}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Cuprum', 'Arial', serif;
  margin: 0;
  padding: 0;
  color: var(--main-text-white-color);
  background-color: var(--basic-white);
  min-height: 100%;
  min-width: 960px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field {
  border: none;
  outline: none;
}

/*Buttons*/

.btn {
  display: inline-block;
  padding: 0;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background: none;
  transition: all .1s;
  text-decoration: none;
}

.btn-red {
  display: inline-block;
  vertical-align: middle;
  min-height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--main-text-white-color);
  background-color: var(--main-btn-color);
  text-transform: uppercase;
  text-decoration: none;
}

.btn-red:hover,
.btn-red:focus {
  background-color: var(--main-btn-hover-color);
}

.btn-red:active {
  background-color: var(--main-btn-active-color);
}

/*Label*/

.promo-label {
  position: absolute;
  padding: 7px 0;
  width: 100px;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  transform: rotateZ(45deg);
  color: var(--main-text-white-color);
  background-color: var(--label-color);
  text-transform: uppercase;
  text-decoration: none;
}

/*Company logo*/


.company-logo {
  display: block;
  position: absolute;
  padding: 12px 56px 13px;
  width: 220px;
  min-height: 47px;
  background: var(--header-logo-color);
  box-shadow: inset 0 -5px 0 var(--header-logo-shadow-color);
}

.header-logo,
.footer-logo {
  display: block;
}

.company-logo[href]:hover path {
  fill: #000000;
}

/*Header*/

.page-header {
  padding-bottom: 60px;
  background-color: var(--info-bg-color);
}

.page-header__wrapper {
  background-color: var(--second-blue);
  margin-bottom: 42px;
}

.page-header__inner {
  display: flex;
  align-items: flex-start;
  padding: 0 0 0 220px;
  min-height: 42px;
}

.page-header__form {
  position: relative;
}

.page-header__search {
  padding: 10px 18px 8px 42px;
  width: 270px;
  min-height: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-white-color);
  background-color: var(--second-blue);
}

.page-header__search + label::before {
  content: url('data:image/svg+xml,%3Csvg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M13.458 12.044L17 15.586 15.586 17l-3.542-3.542A7.465 7.465 0 017.5 15 7.5 7.5 0 1115 7.5c0 1.643-.542 3.24-1.542 4.544zM7.5 2A5.506 5.506 0 002 7.5 5.506 5.506 0 007.5 13c3.032 0 5.5-2.468 5.5-5.5C13 4.467 10.532 2 7.5 2z" fill="%23fff"/%3E%3C/svg%3E');
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.5;
}

.page-header__search::placeholder {
  color: var(--main-text-white-color);
  opacity: 0.5;
}

.page-header__search:hover + label::before,
.page-header__search:hover::placeholder {
  opacity: 1;
}

.page-header__search:focus + label::before {
  content: url('data:image/svg+xml,%3Csvg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M13.458 12.044L17 15.586 15.586 17l-3.542-3.542A7.465 7.465 0 017.5 15 7.5 7.5 0 1115 7.5c0 1.643-.542 3.24-1.542 4.544zM7.5 2A5.506 5.506 0 002 7.5 5.506 5.506 0 007.5 13c3.032 0 5.5-2.468 5.5-5.5C13 4.467 10.532 2 7.5 2z" fill="%23EE3643"/%3E%3C/svg%3E');
  opacity: 1;
}

.page-header__search:focus,
.page-header__search:focus::placeholder {
  color: var(--main-text-dark-color);
  background-color: var(--basic-white);
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-menu__link {
  display: flex;
  align-items: center;
  padding: 10px 24px 8px 43px;
  width: 150px;
  color: var(--main-text-white-color);
  background-color: var(--second-blue);
}

.header-menu__link--bookmarks {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header-menu__link--bookmarks::before {
  content: url('data:image/svg+xml,%3Csvg width="14" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z" fill="%23fff"/%3E%3C/svg%3E');
  position: absolute;
  top: 12px;
  left: 20px;
  width: 14px;
  height: 16px;
  opacity: 0.5;
}

.header-menu__link--bookmarks:hover::before,
.header-menu__link--bookmarks:focus::before {
  opacity: 1;
}

.header-menu__link--bookmarks:active::before {
  opacity: 0.3;
}

.header-menu__link--bookmarks:active,
.header-menu__link--cart:active {
  background-color: var(--bookmarks-active-color);
  color: rgba(var(--main-text-white-rgb), 0.3);
}

.header-menu__link--cart {
  position: relative;
  padding: 10px 26px 8px 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header-menu__link--cart::before {
  content: url('data:image/svg+xml,%3Csvg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z" fill="%23fff"/%3E%3C/svg%3E');
  position: absolute;
  top: 11px;
  left: 26px;
  width: 14px;
  height: 16px;
  opacity: 0.5;
}

.header-menu__link--cart:hover::before,
.header-menu__link--cart:focus::before {
  opacity: 1;
}

.header-menu__link--cart:active::before {
  opacity: 0.3;
}

.header-menu__link--current {
  background-color: var(--basic-red);
}

.header-menu__link--checkout {
  position: relative;
  padding: 10px 16px 8px 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  background-color: var(--order-btn-color);
}

.header-menu__link--checkout:hover,
.header-menu__link--checkout:focus {
  background-color: var(--order-btn-hover-color);
}

.header-menu__link--checkout:active {
  color: rgba(var(--main-text-white-rgb), 0.5);
  background-color: var(--order-btn-color);
}

/*Submenu*/

.user-info__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.user-info__title {
  margin: 0 23px 0 0;
  padding: 0 0 0 31px;
  max-width: 228px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-text-red-color);
}

.user-info__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
}

.user-info__phone {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 7px 45px 8px 74px;
  margin-bottom: 3px;
  width: 270px;
  min-height: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--main-text-red-color);
  text-decoration: none;
  box-shadow: inset 0 0 0 3px var(--basic-white);
}

.user-info__phone::before {
  content: url('data:image/svg+xml,%3Csvg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.57 18.98h-.94a14.53 14.53 0 01-9.36-4.86 16.33 16.33 0 01-4.3-9.9V3.09c.09-.77.47-1.3.9-1.75C2.43.77 3.26.04 4 .02 4.56 0 5.5.4 5.88.92c.33.44.5 1.34.66 2 .15.67.5 1.64.4 2.29-.14 1-1.48 1.43-1.87 2.17a14.03 14.03 0 006.29 7.03c.71-.4 1.35-1.57 2.33-1.6.36 0 .82.18 1.19.29.4.12.74.27 1.1.4.6.23 1.65.53 2 1.03.37.51.57 1.35.5 1.88-.17 1.04-1.89 2.2-2.9 2.57z" fill="%23B7BFC8"/%3E%3C/svg%3E');
  position: absolute;
  top: 10px;
  left: 39px;
  width: 19px;
  height: 19px;
}

.user-info__phone:hover::before,
.user-info__phone:focus::before {
  content: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.57 18.98h-.94a14.53 14.53 0 01-9.36-4.86 16.33 16.33 0 01-4.3-9.9V3.09c.09-.77.47-1.3.9-1.75C2.43.77 3.26.04 4 .02 4.56 0 5.5.4 5.88.92c.33.44.5 1.34.66 2 .15.67.5 1.64.4 2.29-.14 1-1.48 1.43-1.87 2.17a14.03 14.03 0 006.29 7.03c.71-.4 1.35-1.57 2.33-1.6.36 0 .82.18 1.19.29.4.12.74.27 1.1.4.6.23 1.65.53 2 1.03.37.51.57 1.35.5 1.88-.17 1.04-1.89 2.2-2.9 2.57z' fill='%233D546F'/%3E%3C/svg%3E");
}

.user-info__address {
  max-width: 270px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-text-blue-color);
}

.login {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 281px;
  padding: 4px 0 0 0;
  margin: 0;
  list-style: none;
}

.login__link {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 24px;
  margin-bottom: 10px;
  max-width: 281px;
  min-height: 45px;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--main-text-dark-color);
  background-color: var(--basic-white);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login__link--login {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.login__link--login::before {
  content: url('data:image/svg+xml,%3Csvg width="21" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.875 8.5L6 0v6H0v5h6v6l8.875-8.5z" fill="%23C5C5C5"/%3E%3Cpath d="M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z" fill="%23C5C5C5"/%3E%3C/svg%3E');
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
  width: 21px;
  height: 17px;
}

.login__link:hover,
.login__link:focus {
  color: var(--main-text-red-color);
}

.login__link--login:hover::before,
.login__link--login:focus::before {
  content: url('data:image/svg+xml,%3Csvg width="21" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.875 8.5L6 0v6H0v5h6v6l8.875-8.5z" fill="%233D546F"/%3E%3Cpath d="M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z" fill="%233D546F"/%3E%3C/svg%3E');
}

.login__link:active {
  color: rgba(var(--main-text-dark-rgb), 0.3);
}

.login__link--login:active::before {
  content: url('data:image/svg+xml,%3Csvg width="21" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.875 8.5L6 0v6H0v5h6v6l8.875-8.5z" fill="%23C5C5C5"/%3E%3Cpath d="M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z" fill="%23C5C5C5"/%3E%3C/svg%3E');
}

/*Submenu*/

.header-submenu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 26px;
  max-width: 960px;
  min-height: 60px;
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--nav-btn-shadow-color);
  margin: 0;
  list-style: none;
}

.header-submenu__link {
  display: inline-block;
  vertical-align: middle;
  padding: 17px 28px 15px 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-white-rgb);
  text-decoration: none;
  word-break: break-word;
}

.header-submenu__link:hover,
.header-submenu__link:focus {
  background-color: var(--nav-btn-hover-color);
}

.header-submenu__link:active {
  background-color: var(--nav-btn-active-color);
}

/*Features*/

.offers {
  padding: 59px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.offers__block {
  position: relative;
  padding: 21px 43px 21px 23px;
  width: 300px;
  min-height: 123px;
  overflow: hidden;
}

.offers__block--paint {
  grid-column: 1 / 2;
  background: url('../icons/icon-paint.svg') 213px 31px no-repeat, var(--paint-color);
}

.offers__block--tools {
  grid-column: 2 / 3;
  background: url('../icons/icon-tools.svg') 194px 34px no-repeat, var(--tools-color);
}

.offers__block--tech {
  grid-column: 3 / 4;
  background: url('../icons/icon-tech.svg') 191px 31px no-repeat, var(--tech-color);
}

.offers__block--shop {
  grid-column: 3 / 4;
  background: url('../icons/icon-shop.svg') 196px 26px no-repeat, var(--shop-color);
}

.offers__block--delivery {
  grid-column: 3 / 4;
  background: url('../icons/icon-delivery.svg') 191px 32px no-repeat, var(--delivery-color);
}

.offers__title {
  grid-column: 1 / 2;
  margin: 0 0 13px;
  max-width: 150px;
  word-break: break-word;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--main-text-white-color);
}

.offers__link {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px 10px 20px;
  min-width: 135px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-white-color);
  background-color: var(--casper-btn-color);
  text-transform: uppercase;
  text-decoration: none;
}

.offers__link:hover,
.offers__link:focus {
  background-color: var(--casper-btn-hover-color);
}

.offers__link:active {
  background-color: var(--casper-btn-active-color);
}

.promo-label--offers {
  right: -27px;
  top: 8px;
}

/*Slider*/

.promo-slider {
  position: relative;
  padding: 0;
  grid-column: 1 / 3;
  grid-row: 2 / 4;

}

.promo-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider__item {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 23px 24px 27px;
  max-width: 620px;
  min-height: 266px;
}

.promo-slider__item--current {
  display: flex;
}

.promo-slider__head {
  max-width: 620px;
}

.promo-slider__title {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--main-text-white-color);
  text-transform: uppercase;
}

.promo-slider__desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-white-color);
}

.promo-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: -1;
}

.promo-slider__link {
  padding: 11px 46px 9px 47px;
}

.arrow-control__btn {
  position: absolute;
  top: 122px;
  padding: 0;
}

.arrow-control__btn svg {
  display: block;
}

.arrow-control__btn:hover path,
.arrow-control__btn:focus path {
  fill: var(--main-btn-hover-color);
}

.arrow-control__btn--prev {
  left: 24px;
}

.arrow-control__btn--next {
  right: 20px;
}

.dot-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 36px;
}

.dot-control__btn {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.dot-control__btn--current::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--main-btn-color);
  border-radius: 50%;
}

.dot-control__btn:hover {
  opacity: 0.7;
}

/*Popular products */

.popular-products {
  margin-bottom: 70px;
}

.popular-products__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 14px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--section-head-color);
}

.popular-products__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  color: var(--main-text-blue-color);
  text-transform: uppercase;
}

.popular-products__red-link {
  flex-shrink: 0;
  width: 192px;
  padding: 11px 24px 9px;
}

.popular-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 16px 20px 17px;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--items-border-color);
  overflow: hidden;
  transition: .1s all;
}

.popular-products__item:hover {
  box-shadow: 0 0 15px 2px var(--items-shadow-color);
}

.promo-label--products {
  top: 8px;
  right: -27px;
}

.popular-products__container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  min-height: 164px;
}

.popular-products__photo {
  object-fit: contain;
}

.popular-products__control {
  display: none;
  padding: 32px 24px 0 25px;
}

.popular-products__order {
  position: relative;
  padding: 10px 40px 10px 54px;
  margin-bottom: 10px;
  min-height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-white-color);
  text-transform: uppercase;
  background-color: var(--order-btn-color);
  box-shadow: inset 0 -3px 0 var(--order-btn-shadow-color);
  border-radius: 2px;

}

.popular-products__order::before {
  content: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg' fill-opacity='0.3'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z' fill='%23fff'/%3E%3C/svg%3E");
  position: absolute;
  top: 10px;
  left: 30px;
}

.popular-products__order:hover,
.popular-products__order:focus {
  background-color: var(--order-btn-hover-color);
}

.popular-products__order:active {
  background-color: var(--order-btn-active-color);
}

.popular-products__bookmark {
  padding: 8px 32px 6px 30px;
  margin-bottom: 10px;
  min-height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-blue-color);
  text-transform: uppercase;
  border: 3px solid var(--bordered-btn-color);
  border-radius: 2px;
}

.popular-products__bookmark:hover,
.popular-products__bookmark:focus {
  border-color: var(--bordered-btn-hover-color);
}

.popular-products__bookmark:active {
  opacity: 0.5;
}

.popular-products__name {
  margin: 0 0 8px;
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--main-text-dark-color);
}

.popular-products__old-price {
  margin-bottom: 13px;
  font-family: 'PTSans', serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--old-price-color);
}

.popular-products__price .price-label {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  z-index: -1;
  overflow: hidden;
}

.popular-products__price {
  position: relative;
  padding: 10px 0;
  width: 141px;
  min-height: 38px;
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--main-text-white-color);
}

.popular-products__item:hover .popular-products__photo {
  display: none;
}

.popular-products__item:hover .popular-products__control {
  display: block;
}

/*Brands*/

.brands {
  margin-bottom: 70px;
}

.brands__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 19px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--section-head-color);
}

.brands__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  color: var(--main-text-blue-color);
  text-transform: uppercase;
}

.brands__red-link {
  flex-shrink: 0;
  width: 192px;
  padding: 11px 24px 9px;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.brands__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--items-border-color);
  transition: .1s all;
}

.brands__link:hover {
  box-shadow: 0 0 15px 2px var(--items-shadow-color);
}

.brands__logo {
  object-fit: cover;
}

/*Services*/

.services {
  padding: 65px 0 99px;
  background-color: var(--sevices-bg-color);
}

.services__head {
  margin-bottom: 68px;
}

.services__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--main-text-dark-color);
  text-transform: uppercase;
}

.services__desc {
  font-family: 'PT Sans', serif;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-text-dark-color);
}

.services__info {
  display: flex;
}

.tab-panel {
  padding: 0;
  margin: 0;
  width: 240px;
  list-style: none;
}

.tab-panel__item {
  position: relative;
}

.tab-panel__item:first-child::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 10px;
  height: 111px;
  background: url('../img/shadow-up.png') 0 0 no-repeat;
}

.tab-panel__item:not(:first-child):not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: calc(100% + 1px);
  background: url('../img/shadow-main.png') 0 0 no-repeat;
  z-index: 2;
}

.tab-panel__item:last-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 111px;
  background: url('../img/shadow-down.png') 0 0 no-repeat;
}

.tab-panel__btn {
  padding: 15px 22px 17px 22px;
  width: 240px;
  min-height: 61px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: var(--main-text-white-color);
  background-color: var(--services-tab-color);
  box-shadow: 0 1px 0 var(--services-tab-shadow-color), inset 0 1px 0 var(--services-tab-shadow-second-color);
}

.tab-panel__item:not(:last-child) {
  margin-bottom: 1px;
}

.tab-panel__btn:hover,
.tab-panel__btn:focus {
  background-color: var(--services-tab-hover-color);
}

.tab-panel__btn--current,
.tab-panel__btn--current:hover,
.tab-panel__btn--current:active,
.tab-panel__btn--current:focus {
  color: var(--main-text-blue-color);
  background-color: var(--services-tab-current-color);
  box-shadow: none;
  cursor: default;
}

.tab-content__list {
  padding: 0 0 0 80px;
  margin: 0;
  list-style: none;
}

.tab-content__item {
  display: none;
  position: relative;
  padding-right: 325px;
  width: 619px;
}

.tab-content__item--current {
  display: block;
}

.tab-content__title {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-text-blue-color);
}

.tab-content__info {
  margin-bottom: 24px;
  width: 315px;
  z-index: 2;
}

.tab-content__desc {
  font-family: 'PT Sans', serif;
  margin: 0 0 1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-text-dark-color);
}

.tab-content__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.tab-content__btn {
  padding: 10px 45px;
  border-radius: 2px;
}

/*Information*/

.main-info {
  padding: 70px 0;
  background-color: var(--basic-white);
}

.main-info .container {
  display: flex;
  justify-content: space-between;
}

/*About*/

.about {
  max-width: 450px;
}

.about__title {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-text-dark-color);
}

.about__desc {
  font-family: 'PT Sans', serif;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-text-dark-color);
}

.about__desc:first-child {
  margin-bottom: 26px;
}

.about__info {
  margin-bottom: 3px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0 0 19px;
}

.about__item {
  position: relative;
  padding-left: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-dark-color);
}

.about__item::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
}

.about__item:not(:last-child) {
  margin-bottom: 12px;
}

.about__link {
  padding: 11px 41px 9px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-white-color);
}

/*Contacts*/

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-text-dark-color);
}

.contacts__desc {
  font-family: 'PT Sans', serif;
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-text-dark-color);
}

.contacts__map {
  margin-bottom: 25px;
}

.contacts__btn {
  padding: 11px 59px 9px 61px;
}

/*Footer*/

.page-footer {
  background-color: var(--basic-blue);
}

.page-footer .container {
  position: relative;
}

.page-footer__logo {
  padding: 20px 37px 20px 41px;
  top: 0;
  left: 10px;
  min-height: 68px;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 37px 0 54px;
}

.page-footer__info {
  padding: 54px 0 0 3px;
  max-width: 325px;
}

.page-footer__address,
.page-footer__phone {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-address-color);
  text-decoration: none;
}

.page-footer__phone:hover {
  text-decoration: underline;
}

.page-footer__phone:active {
  opacity: 0.5;
  text-decoration: none;
}

.page-footer__links {
  max-width: 550px;
}

.main-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 35px;
  list-style: none;
}

.main-links__item:not(:last-child) {
  margin-right: 58px;
}

.main-links__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-links-color);
  text-decoration: none;
}

.main-links__link:hover {
  text-decoration: underline;
}

.main-links__link:active {
  opacity: 0.5;
  text-decoration: none;
}

.secondary__links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.secondary-links__item:not(:first-child) {
  margin-left: 59px;
}

.secondary-links__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-secondary-links-color);
  text-decoration: none;
}

.secondary-links__link:hover {
  text-decoration: underline;
}

.secondary-links__link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  padding: 36px 0 29px;
  background-color: var(--second-blue);
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-bottom__copyright {
  width: 33.3%;
}

.footer-bottom__company,
.footer-bottom__right {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-text-white-color);
}

.footer-social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 33.3%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vk-icon,
.fb-icon,
.inst-icon {
  display: block;
}

.footer-social__item:not(:last-child) {
  margin-right: 5px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--social-icon-color);
  border-radius: 50%;
}

.footer-social__link:hover,
.footer-social__link:active,
.footer-social__link:focus {
  background-color: var(--social-icon-active-color);
}

.footer-bottom__links {
  display: flex;
  align-items: flex-start;
  width: 33.3%;
}

.footer-bottom__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 1px;
}

.footer-bottom__contact {
  max-width: 137px;
}

.footer-bottom__created {
  max-width: 100px;
}

.footer-bottom__feedback,
.footer-bottom__designed {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-text-white-color);
}

.footer-bottom__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-secondary-links-color);
  text-decoration: none;
}

.footer-bottom__email:hover {
  text-decoration: underline;
}

.footer-bottom__email:active {
  color: var(--basic-red);
  text-decoration: none;
}










